<?xml version="1.0"?>
<config>
    <modules>
       <BigFish_PaymentGateway>
          <version>1.11.0</version>
       </BigFish_PaymentGateway>
    </modules>

    <global>
        <blocks>
            <paymentgateway>
                <class>BigFish_PaymentGateway_Block</class>
            </paymentgateway>
        </blocks>
        <helpers>
             <paymentgateway>
                <class>BigFish_PaymentGateway_Helper</class>
             </paymentgateway>
        </helpers>
        <models>
            <paymentgateway>
                <class>BigFish_PaymentGateway_Model</class>
                <resourceModel>paymentgateway_mysql4</resourceModel>
            </paymentgateway>
            <paymentgateway_mysql4>
                <class>BigFish_PaymentGateway_Model_Mysql4</class>
                <entities>
                    <paymentgateway>
                        <table>bigfish_paymentgateway</table>
                    </paymentgateway>
                    <log>
                        <table>bigfish_paymentgateway_log</table>
                    </log>
                </entities>
            </paymentgateway_mysql4>
        </models>
        <resources>
            <paymentgateway_setup>
                <setup>
                    <module>BigFish_PaymentGateway</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentgateway_setup>
            <paymentgateway_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </paymentgateway_write>
            <paymentgateway_read>
               <connection>
                <use>core_read</use>
              </connection>
            </paymentgateway_read>
        </resources>
        <payment>
            <groups>
                <paymentgw>PaymentGateway</paymentgw>
            </groups>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <BigFish_PaymentGateway>
                    <files>
                        <default>BigFish_PaymentGateway.csv</default>
                    </files>
                </BigFish_PaymentGateway>
            </modules>
        </translate>
        <secure_url>
            <paymentgateway_processing>/paymentgateway/processing</paymentgateway_processing>
        </secure_url>
        <routers>
            <paymentgateway>
                <use>standard</use>
                <args>
                    <module>BigFish_PaymentGateway</module>
                    <frontName>paymentgateway</frontName>
                </args>
            </paymentgateway>
        </routers>
        <layout>
            <updates>
                <paymentgateway>
                    <file>bfpaymentgateway.xml</file>
                </paymentgateway>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <paymentgateway before="Mage_Adminhtml">BigFish_PaymentGateway</paymentgateway>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <BigFish_PaymentGateway>
                    <files>
                        <default>BigFish_PaymentGateway.csv</default>
                    </files>
                </BigFish_PaymentGateway>
            </modules>
        </translate>
        <layout>
            <updates>
                <paymentgateway>
                    <file>bfpaymentgateway.xml</file>
                </paymentgateway>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paymentgateway translate="title" module="paymentgateway">
                                            <title>BIG FISH Payment Gateway Settings</title>
                                        </paymentgateway>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <paymentgateway_cib>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/cib</model>
                <title><![CDATA[CIB Bank]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_cib>
            <paymentgateway_khb>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/khb</model>
                <title><![CDATA[K&H Bank]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_khb>
            <paymentgateway_otp>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otp</model>
                <title><![CDATA[OTP Bank]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otp>
            <paymentgateway_abaqoos>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/abaqoos</model>
                <title><![CDATA[Abaqoos]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_abaqoos>
            <paymentgateway_paypal>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/paypal</model>
                <title><![CDATA[PayPal]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_paypal>
            <paymentgateway_sms>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/sms</model>
                <title><![CDATA[SMS]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_sms>
            <paymentgateway_otp2>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otp2</model>
                <title><![CDATA[OTP Bank (Two-way)]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otp2>
            <paymentgateway_escalion>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/escalion</model>
                <title><![CDATA[Escalion]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_escalion>
            <paymentgateway_wirecard>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/wirecard</model>
                <title><![CDATA[QPAY Wirecard]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_wirecard>
			<paymentgateway_fhb>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/fhb</model>
                <title><![CDATA[FHB Bank]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_fhb>
            <paymentgateway_unicredit>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/unicredit</model>
                <title><![CDATA[UniCredit Bank]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_unicredit>
			<paymentgateway_otpay>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpay</model>
                <title><![CDATA[OTPay]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpay>
			<paymentgateway_sofort>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/sofort</model>
                <title><![CDATA[Sofort]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_sofort>
            <paymentgateway_borgun>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/borgun</model>
                <title><![CDATA[Borgun]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_borgun>
			<paymentgateway_otpaymp>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpaymp</model>
                <title><![CDATA[MasterPass]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpaymp>
            <paymentgateway_khbszep>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/khbszep</model>
                <title><![CDATA[K&H SZÉP Card]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_khbszep>
			<paymentgateway_otpmultipont>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpmultipont</model>
                <title><![CDATA[OTP Multipont]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpmultipont>
            <paymentgateway_mkbszep>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/mkbszep</model>
                <title><![CDATA[MKB SZÉP Card]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_mkbszep>
            <paymentgateway_otpszep>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpszep</model>
                <title><![CDATA[OTP SZÉP Card]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpszep>
			<paymentgateway_payu2>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/payu2</model>
                <title><![CDATA[PayU2]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_payu2>
			<paymentgateway_saferpay>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/saferpay</model>
                <title><![CDATA[Saferpay]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_saferpay>
			<paymentgateway_otpsimple>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpsimple</model>
                <title><![CDATA[OTP Simple]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpsimple>
			<paymentgateway_otpsimplewire>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/otpsimplewire</model>
                <title><![CDATA[OTP Simple Wire]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_otpsimplewire>
            <paymentgateway_barion>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/barion</model>
                <title><![CDATA[Barion]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_barion>
			<paymentgateway_mpp>
				<group>paymentgw</group>
				<active>0</active>
				<model>paymentgateway/mpp</model>
				<title><![CDATA[Mobile Payment]]></title>
				<allowspecific>0</allowspecific>
			</paymentgateway_mpp>
				<paymentgateway_mcm>
				<group>paymentgw</group>
				<active>0</active>
				<model>paymentgateway/mcm</model>
				<title><![CDATA[MasterCard Mobile Payment]]></title>
				<allowspecific>0</allowspecific>
			</paymentgateway_mcm>
			<paymentgateway_payu>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/payu</model>
                <title><![CDATA[PayU]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_payu>
                <paymentgateway_payuwire>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/payuwire</model>
                <title><![CDATA[PayUWire]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_payuwire>
                <paymentgateway_payucash>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/payucash</model>
                <title><![CDATA[PayUCash]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_payucash>
                <paymentgateway_payumobile>
                <group>paymentgw</group>
                <active>0</active>
                <model>paymentgateway/payumobile</model>
                <title><![CDATA[PayUMobile]]></title>
                <allowspecific>0</allowspecific>
            </paymentgateway_payumobile>
         </payment>
         <paymentgateway>
            <settings>
                <istestmode>1</istestmode>
            </settings>
        </paymentgateway>
    </default>
</config>